.pongWrapper {
	@include flexbox();
	@include flex(1 1 auto);
}

.buttonsLeft {
	width: 100px;
	height: 50px;
	position: absolute;
	bottom: 20px;
	border-radius: 4px;
	border: 1px solid $palette-blackolive;
	@include flexbox();
	@include flexCol();
	align-items: center;
	padding: 15px;
	opacity: 0.6;
	align-self: flex-start;
}

.buttonsRight {
	width: 100px;
	height: 50px;
	position: absolute;
	bottom: 20px;
	border-radius: 4px;
	border: 1px solid $palette-blackolive;
	@include flexbox();
	@include flexCol();
	align-items: center;
	padding: 15px;
	opacity: 0.6;
}

.btnMult {
	width: 150px;
	padding: 15px;
	cursor: pointer;
	bottom: 20px;
	border-radius: 4px;
	border: 1px solid $palette-blackolive;
	background-color: rgba(255,255,255,0.3);
	color: $palette-blackolive;
	@include flexbox();
	justify-content: center;
	align-items: center;
	z-index: 500;
	position: absolute;
	bottom: 20;

	&:hover {
		opacity: 1;
	}
}

.title {
	width: 700px;
	color: $palette-blackolive;
	font-size: 2rem;
	margin: auto;
	justify-content: center;
	align-items: center;
	position: absolute;
	text-align: center;
}

.gameCanvas {
	@include flex(1 1 auto);
	margin: 0 10px;
	position: relative;
}

.paddle1 {
	position: absolute;
	width: 12px;
	left: 0;
	background-color: $palette-blackolive;
}

.paddle2 {
	position: absolute;
	width: 12px;
	right: 0;
	background-color: $palette-blackolive;
}

.ball {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: $palette-blackolive;
}

.scoreP1 {
	position: absolute;
	color: $palette-blackolive;
	font-size: 2rem;
}

.scoreP2 {
	position: absolute;
	color: $palette-blackolive;
	font-size: 2rem;
}

.middleLine {
	position: absolute;
	background-image: linear-gradient($palette-blackolive 33%, rgba(255,255,255,0) 0%);
	background-position: right;
	background-size: 4px 30px;
	background-repeat: repeat-y;
	width: 4px;
	height: 100%;
}

.cancelIcon{
	position: absolute;
	top: 20px;
	right: 50px;
	font-size: 2rem;
	color: $palette-blackolive;
	cursor: pointer;
	z-index: 500;
	&:hover{
		opacity: 0.6;
	}
}