.link {
	color: $palette-blackolive;
	font-size: 1.2rem;
	text-decoration: none;
	position: absolute;
	@include flexbox();
	justify-content: center;
	align-items: center;
	z-index: 10;
	@include transition(all cubic-bezier(0.4, 0.0, 0.2, 1) .475s);
	overflow: hidden;
	.arrow {
		font-size: 0rem;
		@include transition(all cubic-bezier(0.4, 0.0, 0.2, 1) .475s);
	}
	.arrowActive {
		font-size: 2rem;
		@include transition(all cubic-bezier(0.4, 0.0, 0.2, 1) .475s);
	}
	&:visited {
		color: $palette-blackolive;

	}
	&:hover {
		letter-spacing: 5rem;
		font-size: 0.8rem;
		color: rgba(0, 0, 0, 0.5);
		background-color: rgba(0, 0, 0, 0.1);
		.arrow {
			font-size: 2rem;
		}
		.arrowActive {
			font-size: 3rem;
		}
	}
}

.label {
	@include flexbox();
	@include flexCol();
	justify-content: center;
	align-items: center;
}

.topBtn {
	top: 0;
	left: 0;;
	width: 100%;
	height: 30px;
	padding: 10px 0 10px 0;
}

.bottomBtn {
	bottom: 0;
	left: 0;;
	width: 100%;
	height: 30px;
	padding: 10px 0 10px 0;
}

.rightBtn {
	top: 0;
	right: 0;
	height: 100%;
	width: 30px;
	padding: 0 10px 0 10px;
}

.rotateRt {
	@include transform(rotate(90deg));
}

.leftBtn {
	top: 0;
	left: 0;
	height: 100%;
	width: 30px;
	padding: 0 10px 0 10px;
}

.rotateLf {
	@include transform(rotate(-90deg));
}