.homeWrapper{
	height: 100%;
	@include flexbox();
	@include flex(1 1 auto);
	@include flexCol();
}

.homeContainer{
	@include flexbox();
	@include flex(1 1 auto);
	@include flexCol();
	justify-content: center;
	align-items: center;
}

.logo{
	fill: $palette-blackolive;
	height: 150px;
	width: 150px;
}

.iagh{
	position: absolute;
	top: 50px;
	left: 50px;
	width: 100px;
}

.title{
	color: $palette-blackolive;
	font-size: 1rem;
	width: 180px;
	text-align: center;
}

.animContainer{
	@include flexbox();
	@include flexCol();
	justify-content: center;
	align-items: center;
	@include animation('fadeIn cubic-bezier(0.0, 0.0, 0.2, 1) 2.375s');
}

.pongBtn{
	position: absolute;
	top: 50px;
	left: 50px;
	height: 5px;
	width: 5px;
	border-radius: 50%;
	background-color: $palette-blackolive;
	cursor: pointer;
}