// qBlue
$palette-sand: rgb(234, 181, 67); //accent color, top navbar, buttons and icons
$palette-blackolive: rgb(49, 47, 47);
$palette-burntorange: rgb(215, 128, 59);
$palette-burntorange-80: rgb(213, 151, 90);
$palette-cinereous: rgb(192, 186, 150);
$palette-coolgrey: rgb(154, 171, 185);
$palette-steelblue: rgb(196, 212, 224);
$palette-sunset: rgb(255, 212, 114);
$palette-booger: rgb(252, 249, 193);
$palette-brick: rgb(226, 180, 154);