// Transition mixin
@mixin transition($par) {
  -webkit-transition: $par;  // Chrome 1-25, Safari 3.2+
  -moz-transition: $par;  // Firefox 4-15
  -o-transition: $par;  // Opera 10.50–12.00
  transition: $par;  // Chrome 26, Firefox 16+, IE 10+, Opera 12.10+
}

// Animation mixin
@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

// Keyframes mixin
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

// transform
@mixin transform($par) {
  -webkit-transform: $par;  // Chrome 1-25, Safari 3.2+
  -moz-transform: $par;  // Firefox 4-15
  -o-transform: $par;  // Opera 10.50–12.00
  transform: $par;  // Chrome 26, Firefox 16+, IE 10+, Opera 12.10+
}