.menuMapWrapper{
	@include flexbox();
	@include flex(1 1 auto);
	height: 100%;
	justify-content: center;
	align-items: center;
}

.menuMapContainer{
	position: relative;
	// @include flexbox();
}

a {
	color: $palette-blackolive;
	text-decoration: none;
}

.homeContainer{
	position: absolute;
	border: 2px dashed $palette-blackolive;
	left: -160px;
	width: 320px;
	height: 180px;
	@include flexbox();
	justify-content: center;
	align-items: center;
	cursor: pointer;
	@include transition(all cubic-bezier(0.4, 0.0, 0.2, 1) .475s);
	&:hover {
		background-color: rgba($palette-blackolive, 0.25);
		@include transform(scale(1.1));
	}
}

.portfolioContainer{
	position: absolute;
	left: -490px;
	border: 2px dashed $palette-blackolive;
	width: 320px;
	height: 180px;
	@include flexbox();
	justify-content: center;
	align-items: center;
	cursor: pointer;
	@include transition(all cubic-bezier(0.4, 0.0, 0.2, 1) .475s);
	&:hover {
		background-color: rgba($palette-blackolive, 0.25);
		@include transform(scale(1.1));
	}
}

.kontaktyContainer{
	position: absolute;
	top: -190px;
	left: -160px;
	border: 2px dashed $palette-blackolive;
	width: 320px;
	height: 180px;
	@include flexbox();
	justify-content: center;
	align-items: center;
	cursor: pointer;
	@include transition(all cubic-bezier(0.4, 0.0, 0.2, 1) .475s);
	&:hover {
		background-color: rgba($palette-blackolive, 0.25);
		@include transform(scale(1.1));
	}
}

.projektContainer{
	position: absolute;
	left: 170px;
	border: 2px dashed $palette-blackolive;
	width: 320px;
	height: 180px;
	@include flexbox();
	justify-content: center;
	align-items: center;
	cursor: pointer;
	@include transition(all cubic-bezier(0.4, 0.0, 0.2, 1) .475s);
	&:hover {
		background-color: rgba($palette-blackolive, 0.25);
		@include transform(scale(1.1));
	}
}