.main{
	// @include flexbox();
	width: 100%;
	height: 100%;
	font-family: 'Roboto Mono', monospace;
	background-color: #E7C88F;
	background-image: url("./pattern.png");
	background-repeat: repeat;
}

.pageRoute {
	position: fixed;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.pageMainInner {
  position: absolute;
	@include flexbox();
  top: 0;
  left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	padding: 50px;
}